@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

#ezcompta-main-wrapper {display: flex;font-family: "Roboto", sans-serif;border-radius: 4px;margin: -14px -38px -20px -42px;min-height: 100vh; }

#ezcompta-main-wrapper .ezcompta-side-wrapper {background: #efefef;min-width: 320px; box-shadow: inset 12px 0 16px rgba(0, 0, 0, 0.08);}
#ezcompta-main-wrapper .ezcompta-sidebis-wrapper {background: #fff;min-width: 320px;}

#ezcompta-main-wrapper .ezcompta-side-wrapper form {margin: 32px 40px;padding: 0;list-style: none;position: relative;}
#ezcompta-main-wrapper .ezcompta-side-wrapper .searchicon {position: absolute;top: 0;left: 0; line-height: 42px;color: #b0bb39}
#ezcompta-main-wrapper .ezcompta-side-wrapper form input[type=text] {background: transparent;display: block;width: 100%;padding-left: 28px;box-sizing: border-box;height: 42px;}

#ezcompta-main-wrapper .ezcompta-side-wrapper ul {margin: 0 0 0 16px;padding: 0;list-style: none;}
#ezcompta-main-wrapper .ezcompta-side-wrapper ul li {}
#ezcompta-main-wrapper .ezcompta-side-wrapper ul li a {display:block; padding: 16px 24px;font-weight: 500;}
#ezcompta-main-wrapper .ezcompta-side-wrapper ul li a.active {background: #fff;border-bottom: 2px solid #b0bb39}
#ezcompta-main-wrapper .ezcompta-side-wrapper ul li a span.fas {color: rgba(176, 187, 57, 1);}
#ezcompta-main-wrapper .ezcompta-side-wrapper ul li a span.fas.paddingright {padding-right: 8px;}
#ezcompta-main-wrapper .ezcompta-side-wrapper ul li a span.badge {background: #dbdbdb;color: #a0a0a0;}

#ezcompta-main-wrapper .ezcompta-content-wrapper {flex: 1;background: #fff;padding: 24px 36px;height: 100vh; overflow-y: scroll;padding-right: 320px;padding-bottom: 64px;}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount {margin: 0;padding: 0;list-style: none;margin-top: 36px;}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li {background: #fff;border-radius: 8px;margin-bottom: 24px;box-shadow:0 0 14px rgba(82, 85, 90, 0.15);}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li .account-cardline-header {display: flex;justify-content: space-between;align-items: center;padding: 20px;}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li .account-cardline-header .cardline-header-title {}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li .account-cardline-header .cardline-header-title span.fas {color: #b0bb39}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li .account-cardline-header .cardline-header-actions span.fas {color: #ccc}





#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li ul {display: none;list-style: none;border-top: 1px solid #b0bb39;padding: 8px 20px;}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li ul.open {display: block;}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li ul li {background: transparent;padding: 12px 0;border-radius: 0;margin-bottom: 0;box-shadow:none;border-bottom: 1px dashed #ccc;}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li ul li:last-child {border-bottom: none;}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li ul li .flexline {display: flex;justify-content: space-between;align-items: center;}

#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li ul.lvl2 {margin: 0;padding: 16px 0 36px 36px;;border-top: none;}
#ezcompta-main-wrapper .ezcompta-content-wrapper .ezcompta-listaccount li ul.lvl2 li {margin: 0;padding: 8px 0}

#ezcompta-main-wrapper .badge-folder {background: rgba(176, 187, 57, 0.2); color: #788025;}
#ezcompta-main-wrapper .badge-folder span.fas {color: #788025 !important;}
#ezcompta-main-wrapper .badge-items {background: rgba(58, 152, 252, 0.2); color: #1d65b3;}
#ezcompta-main-wrapper .badge-items span.fas {color: #1d65b3 !important;}